@use './common.scss';

// === Dashboard Header ===
.dashboard-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    color: common.$mc-font-color;
    gap: 12px;

    // #account {
    //     margin-right: 12px;
    // }

    #disconnect {
        background: #e74c3c;
        color: common.$mc-font-color;
    }
}
